.md-card-image {
    width: 100%;
    height: 100%;
    display: inline-block;
}

.text-light {
    color: #fff;
}

.about {
    padding: 30px 0 20px 20px;
    background: url(../../assets/images/mb-bg.jpg);
}

.skill {
    padding-top: 10px;
}

md-slider .md-track-container {
    height: 5px;
}

md-slider .md-thumb {
    top: 7px;
}