<div>
<!-- GOOGLE FONTS -->
        <link href="app/materialcv/css" rel="stylesheet" type="text/css">
        
        <!-- FRAMEWORK CSS -->
        <link rel="stylesheet" href="app/materialcv/materialize.min.css">
        <!--<link rel="stylesheet" href="css/lightbox.css">-->
        
        <!-- FONT ICONS -->
        <link rel="stylesheet" href="app/materialcv/font-awesome.min.css">

        
        <!-- ADDITIONAL CSS -->
         <link rel="stylesheet" href="app/materialcv/timeline.css">
         <link rel="stylesheet" href="app/materialcv/animate.css">
         <link rel="stylesheet" href="app/materialcv/nav.css">
         <link rel="stylesheet" href="app/materialcv/jquery.fancybox.css">
        
        <!--   COUSTOM CSS link  -->
        <link rel="stylesheet" href="app/materialcv/style.css">
        <link rel="stylesheet" href="app/materialcv/responsive.css">
        
        <!--   COLOUR  -->
        <link rel="stylesheet" href="app/materialcv/lime.css" title="lime" disabled="">
        <link rel="stylesheet" href="app/materialcv/red.css" title="red">
        <link rel="stylesheet" href="app/materialcv/green.css" title="green" disabled="">
        <link rel="stylesheet" href="app/materialcv/purple.css" title="purple" disabled="">
        <link rel="stylesheet" href="app/materialcv/orange.css" title="orange" disabled="">
        
        <!-- STYLE SWITCH STYLESHEET ONLY FOR DEMO -->
        <link rel="stylesheet" href="app/materialcv/demo.css">






    <div>
        <md-toolbar md-scroll-shrink>
            <div class="md-toolbar-tools" layout-align="center center">
                <div flex-gt-sm="50" flex-offset="40">
                    <i class="fa fa-mobile fa-lg"></i>
                    <a href="tel:"> +8498 744 2631</a>
                </div>
                <div flex-gt-sm="50">
                    <i class="fa fa-envelope-o fa-lg"></i>
                    <a href="mailto:">phanvantan95@gmail.com</a>
                </div>
            </div>
        </md-toolbar>
    </div>


    <!-- =========================================
                           NAVIGATION   
    ==========================================-->
  
            <div id="header-bottom" class="z-depth-1"> <!--Start: "Header Area"-->
                <div id="sticky-nav-sticky-wrapper" class="sticky-wrapper" style="height: 56px;"><div id="sticky-nav" style="width: 1089px;">
                    <div class="container">
                        <div class="row">
                            <nav class="nav-wrap"> 


                                <ul class="hide-on-med-and-down group" id="example-one">
                                    <li class="current_page_item"><a href="#header-top">Home</a></li>
                                    <li class="current"><a href="#about">About</a></li>                                
                                    <li class=""><a href="#skills">Skills</a></li>                                
                                    <li class=""><a href="#works">Works</a></li>                                
                                    <li class=""><a href="#hobbiesa">Hobbies</a></li>                                
                                    <li class=""><a href="#education">Education</a></li>                             
                                    <li class=""><a href="#clients">Client</a></li>
                                    <li class=""><a href="#contact-form">Contact</a></li>
                                </ul>
                                
                                <ul class="side-nav" id="slide-out">
                                    <li><a href="#header-bottom" class="active">Home</a></li>
                                    <li><a href="#about">About</a></li>                                
                                    <li><a href="#skills">Skills</a></li>                                
                                    <li><a href="#works">Works</a></li>                                
                                    <li><a href="#hobbiesa">Hobbies</a></li>                                
                                    <li><a href="#education">Education</a></li>                              
                                    <li><a href="#clients">Client</a></li>
                                    <li><a href="#contact-form">Contact</a></li>
                                </ul>

                                <a href="#about" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
                            </nav>
                        </div>
                    </div>
                </div></div>
            </div> <!--End: Header Area-->

<!-- =========================================
                        ABOUT   
        ==========================================-->



<section id="about">
            <div class="container">
                <div class="row">
                    <div class="intro z-depth-1 col m12">
                        <div class="col m12 s12">
                            <div class="profile-pic wow fadeIn a1 animated" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
                                <img src="app/materialcv/profile.jpg" alt="">
                            </div>
                        </div>
                        <div class="col m12 s12 co-centered wow fadeIn a2 animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
                            <div class="intro-content col m10 s12">
                                <h2>Phan Văn Tân</h2>
                                <span>Sinh viên khoa Công nghệ thông tin - HCMUS</span>
                                <p>Xin chào mọi người, mình tên là Tân. Mình rất yêu thích lập trình và mong muốn
                                tạo ra một sản phầm đem lại lợi ích cho cộng đồng và xã hội.  
                                Phương châm của mình là luôn nỗ lực hết mình trong học tập cũng như cuộc sống. 
                                </p>
                                <a href="https://pvtan.firebaseapp.com/" class="btn waves-effect">Another my CV</a>
                                <a href="#contact-form" class="btn btn-success waves-effect">Contact Me</a>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
        </section>

<!-- =========================================
                           SKILLS   
        ==========================================-->
        <section id="skills">
            <div class="section-title wow fadeIn a1 animated" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
                        <h2> <i class="fa fa-gears"></i>Skills</h2>
                    </div>
        
        <div flex layout="row" layout-align="center center" layout-fill>
            <md-card flex="45" flex-xs="90">
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2>Professional Skills</h2>
                    </div>
                </md-toolbar>
                <md-card-content>
                    <span ng-repeat="item in vm.professional">
                        <span>{{item.name}}</span>
                    <md-slider flex max="100" ng-model="item.value" aria-label="red" id="red-slider"></md-slider>
                    </span>
                </md-card-content>
            </md-card>
            <md-card flex="45" flex-xs="90">
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2>Personal Skills</h2>
                    </div>
                </md-toolbar>
                <md-card-content>
                    <span ng-repeat="item in vm.personal">
                        <span>{{item.name}}</span>
                    <md-slider flex max="100" ng-model="item.value" aria-label="blue" id="blue-slider" class="md-primary"></md-slider>
                    </span>
                </md-card-content>
            </md-card>
        </div>
    </div>
    
        </section>

<!-- ========================================
                WORKS EXPERIENCE  
        ==========================================-->
        
        <section id="works">
            <div class="container">
                <div class="row">
                    <div class="section-title">
                        <h2> <i class="fa fa-suitcase"> </i>Work Experience</h2>
                    </div>
                    <div id="cd-timeline" class="cd-container">
                        <div class="cd-timeline-block wow fadeIn a2 animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
                            <div class="cd-timeline-img">
                            </div> <!-- cd-timeline-img -->
                            <div class="cd-timeline-content col m5 s12 z-depth-1">
                                <a href=""><h2>Viết ứng dụng chat client - server</h2></a>
                                <span>học kì 4 </span>
                                <p>Sử dụng socket để hoàn thành trong môn mạng máy tính</p>
                            </div> <!-- cd-timeline-content -->
                        </div> <!-- cd-timeline-block -->
                        <div class="cd-timeline-block wow fadeIn a3 animated" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
                            <div class="cd-timeline-img">
                            </div> <!-- cd-timeline-img -->
                            <div class="cd-timeline-content col m5 s12 z-depth-1">
                                <a href=""><h2>Viết ứng dụng quản lý phòng mạch tư</h2></a>
                                <span>học kì 5 </span>
                                <p>Áp dụng mô hình 3 tier để tin học hóa quy trình nghiệp vụ của phòng mạch</p>
                            </div> <!-- cd-timeline-content -->
                        </div> <!-- cd-timeline-block -->
                
                        <div class="cd-timeline-block wow fadeIn a4 animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                            <div class="cd-timeline-img">
                            </div> <!-- cd-timeline-img -->
                            <div class="cd-timeline-content col m5 s12 z-depth-1">
                                <a href=""><h2>Viết ứng dụng Album ảnh</h2></a>
                                <span>học kì 6 </span>
                                <p>Áp dụng các kiến thức đã giới thiệu về android để xây dựng ứng dụng.</p>
                            </div> <!-- cd-timeline-content -->
                        </div> <!-- cd-timeline-block -->
                        <div class="cd-timeline-block wow fadeIn a5 animated" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeIn;">
                            <div class="cd-timeline-img">
                            </div> <!-- cd-timeline-img -->
                            <div class="cd-timeline-content col m5 s12 z-depth-1">
                                <a href=""><h2>Viết CV</h2></a>
                                <span>học kì 6 </span>
                                <p>Áp dụng các kiến thức đã giới thiệu để viết CV của mình.</p>
                            </div> <!-- cd-timeline-content -->
                        </div> <!-- cd-timeline-block -->
                    </div> <!-- cd-timeline -->
                </div>
            </div>
        </section>
        
        <!-- =========================================
                    HOBBIES 
        ==========================================-->
        
        <section id="hobbiesa">
            <div class="container">
                <div class="row">
                    <div class="section-title wow fadeIn a1 animated" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
                        <h2><i class="fa fa-th-list"></i>Hobbies</h2>
                    </div>
                    <div class="col m12 s12 portfolio-nav">
                        <ul>
                            <li class="filter active" data-filter="all">Show All</li>
                            <li class="filter" data-filter=".category-1">Lập trình</li>
                            <li class="filter" data-filter=".category-2">Du lịch</li>
                            <li class="filter" data-filter=".category-3">Giao lưu</li>
                            <li class="filter" data-filter=".category-4">Truyện tranh</li>
                        </ul>
                    </div>
                    <div id="loader">
                        <div class="loader-icon"></div>
                    </div>
                    <div class="screenshots" id="portfolio-item">
                        <div class="row">
                            <ul class="grid">
                                <!-- Portfolio one-->
                                <li class="col m3 s12 mix category-1" style="display: inline-block;" data-bound="">
                                    <a href="https://pvtan.firebaseapp.com/" class="sa-view-project-detail" data-action="#project-one">
                                        <figure class="more">
                                        <img src="app/materialcv/laptrinh.jpg" alt="Screenshot 01">
                                            <figcaption>
                                                <div class="caption-content">
                                                    <div class="single_image">
                                                        <h2>Lập trình</h2>
                                                        <p>Cần cù bù thông minh</p>
                                                    </div>                          
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </a>
                                </li>
                                <!-- Portfolio two-->
                                <li class="col m3 s12 mix category-2" style="display: inline-block;" data-bound="">
                                    <a href="https://pvtan.firebaseapp.com/" class="sa-view-project-detail" data-action="#project-two">
                                        <figure class="more">
                                            <img src="app/materialcv/dulich1.jpg" alt="Screenshot 01">
                                            <figcaption>
                                                <div class="caption-content">
                                                    <div class="single_image">
                                                        <h2>Du lịch</h2>
                                                        <p>Tìm kiếm những nhu cầu của xã hội
                                                        là điều quan trọng</p>
                                                    </div>              
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </a>
                                </li>
                                <!-- Portfolio three-->
                                <li class="col m3 s12 mix category-1" style="display: inline-block;" data-bound="">
                                    <a href="https://pvtan.firebaseapp.com/" class="sa-view-project-detail" data-action="#project-three">
                                        <figure class="more">
                                        <img src="app/materialcv/laptrinh.jpg" alt="Screenshot 01">
                                            <figcaption>
                                                <div class="caption-content">
                                                    <div class="single_image">
                                                        <h2>Lập trình</h2>
                                                        <p>Cần cù bù thông minh</p>
                                                    </div>                              
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </a>
                                </li>
                                <!-- Portfolio four-->
                                <li class="col m3 s12 mix category-2" style="display: inline-block;" data-bound="">
                                    <a href="https://pvtan.firebaseapp.com/" class="sa-view-project-detail" data-action="#project-four">
                                        <figure class="more">
                                        <img src="app/materialcv/dulich.jpg" alt="Screenshot 01">
                                            <figcaption>
                                                <div class="caption-content">
                                                    <div class="single_image">
                                                        <h2>Du lịch</h2>
                                                        <p>Tìm kiếm những nhu cầu của xã hội
                                                        là điều quan trọng</p>
                                                    </div>  
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </a>
                                </li>
                                <!-- Portfolio five-->
                                <li class="col m3 s12 mix category-4" style="display: inline-block;" data-bound="">
                                    <a href="https://pvtan.firebaseapp.com/" class="sa-view-project-detail" data-action="#project-five">
                                        <figure class="more">
                                        <img src="app/materialcv/truyentranh.png" alt="Screenshot 01">
                                            <figcaption>
                                                <div class="caption-content">
                                                    <div class="single_image">
                                                        <h2>Truyện tranh</h2>
                                                        <p>Truyện tranh chứa đựng sự sáng tạo không tưởng
                                                        của tác giả về cuộc sống cũng như sự cảm nhận của độc giả</p>
                                                    </div>                  
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </a>
                                </li>
                                <!-- Portfolio six-->
                                <li class="col m3 s12 mix category-1" style="display: inline-block;" data-bound="">
                                    <a href="https://pvtan.firebaseapp.com/" class="sa-view-project-detail" data-action="#project-six">
                                        <figure class="more">
                                        <img src="app/materialcv/laptrinh.jpg" alt="Screenshot 01">
                                            <figcaption>
                                                <div class="caption-content">
                                                    <div class="single_image">
                                                        <h2>Lập trình</h2>
                                                        <p>Cần cù bù thông minh</p>
                                                    </div>                  
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </a>
                                </li>
                                <!-- Portfolio seven-->
                                <li class="col m3 s12 mix category-2" style="display: inline-block;" data-bound="">
                                    <a href="https://pvtan.firebaseapp.com/" class="sa-view-project-detail" data-action="#project-seven">
                                        <figure class="more">
                                        <img src="app/materialcv/dulich1.jpg" alt="Screenshot">
                                            <figcaption>
                                                <div class="caption-content">
                                                    <div class="single_image">
                                                        <h2>Du lịch</h2>
                                                        <p>Tìm kiếm những nhu cầu của xã hội
                                                        là điều quan trọng</p>
                                                    </div>                                  
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </a>
                                </li>
                                <!-- Portfolio eight-->
                                <li class="col m3 s12 mix category-3" style="display: inline-block;" data-bound="">
                                    <a href="https://pvtan.firebaseapp.com/" class="sa-view-project-detail" data-action="#project-eight">
                                        <figure class="more"> 
                                        <img src="app/materialcv/giaoluu.jpg" alt="Screenshot 01">
                                            <figcaption>
                                                <div class="caption-content ">
                                                    <div class="single_image">
                                                        <h2>Giao lưu</h2>
                                                        <p>
                                                        Xây dựng tình đoàn kết và thấu hiểu nhau. </p>
                                                    </div>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                <!-- PROJECT DETAILS WILL BE LOADED HERE -->
                <div class="sa-project-gallery-view" id="project-gallery-view"></div>

                <div class="back-btn col s12">  
                    <a id="back-button" class="btn btn-info waves-effect" href="https://pvtan.firebaseapp.com/"><i class="fa fa-long-arrow-left"></i> Go Back </a>
                </div>
        
                </div>  
            </div>
        </section>
        <!-- =========================================
                EDUCATION  
        ==========================================-->
        <section id="education">
            <div class="container">
                <div class="row">
                    <div class="section-title wow fadeIn a1 animated" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
                        <h2> <i class="fa fa-graduation-cap"></i>Education</h2>
                    </div>
                    
                    <div class="cd-container" id="ed-timeline">
                        <div class="cd-timeline-block wow fadeIn a2 animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
                            <div class="cd-timeline-img">
                            </div> <!-- cd-timeline-img -->
                            <div class="cd-timeline-content col m5 s12 z-depth-1">
                                <a href=""><h2>Sinh viên năm 3 - HCMUS</h2></a>
                                <span>4-2016 </span>
                                <p>Học tập tại khoa công nghệ thông tin - trường đại học khoa học tự nhiên.</p>
                            </div> <!-- cd-timeline-content -->
                        </div> <!-- cd-timeline-block -->
                        <div class="cd-timeline-block wow fadeIn a3 animated" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
                            <div class="cd-timeline-img">
                            </div> <!-- cd-timeline-img -->
                            <div class="cd-timeline-content col m5 s12 z-depth-1">
                                <a href=""><h2>We speak Code Campaign</h2></a>
                                <span>4 - 2015</span>
                                <p>Hoàn thành khóa học của microsoft.</p>
                            </div> <!-- cd-timeline-content -->
                        </div> <!-- cd-timeline-block -->
                
                       
                    </div> <!-- cd-timeline -->
                    
                </div>
            </div>
        </section>
        
        <!-- =========================================
                CLIENTS
        ==========================================-->
        <section id="clients">
            <div class="container">
                <div class="row">
                    <div class="section-title wow fadeIn a1 animated" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
                        <h2> <i class="fa fa-quote-left"></i>Clients</h2>
                    </div>
                    <div class="clients-quates wow fadeIn a3 animated" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
                        <div class="row">
                            <div class="quates col m4 s12">
                                <div class="thumbnail z-depth-1">
                                    <img src="app/materialcv/team1.jpg" alt="">
                                    <h3>Nguyễn Tấn Tuấn</h3>
                                    <span>Sinh viên năm 3</span>
                                    <p>Cái gì không đáng thì bỏ qua...bỏ không được thì giết nó! thế thôi =))</p>
                                </div>
                            </div>
                            <div class="quates col m4 s12">
                                <div class="thumbnail z-depth-1">
                                    <img src="app/materialcv/team2.jpg" alt="">
                                    <h3>Nha Truong</h3>
                                    <span>Sinh viên năm 3</span>
                                    <p>Thích những vấn đề liên quan đến CNTT</p>
                                </div>
                            </div>
                            <div class="quates col m4 s12">
                                <div class="thumbnail z-depth-1">
                                    <img src="app/materialcv/profile.jpg" alt="">
                                    <h3>Tân Phan</h3>
                                    <span>Sinh viên năm 3</span>
                                    <p>Đời sẽ dịu dàng hơn biết mấy, khi con người biết đặt mình vào vị trí của nhau.</p>
                                </div>
                            </div>   
                        </div>
                    </div>
                    <div class="clear"></div>
                    <!-- =========================================
                            CLIENTS LOGO   
                    ==========================================-->
                    <div class="clients-logo z-depth-1">
                        <div class="row">
                            <ul class="wow fadeIn a4 animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                                <li class="col m2 s6"><a href=""><img src="app/materialcv/p-1.jpg" alt="" class="responsive-img"></a></li>
                                <li class="col m2 s6"><a href=""><img src="app/materialcv/p-2.jpg" alt="" class="responsive-img"></a></li>
                                <li class="col m2 s6"><a href=""><img src="app/materialcv/p-3.png" alt="" class="responsive-img"></a></li>
                                <li class="col m2 s6"><a href=""><img src="assets\images\angular.png" alt="" class="responsive-img"></a></li>
                                <li class="col m2 s6"><a href=""><img src="app/materialcv/p-5.png" alt="" class="responsive-img"></a></li>
                                <li class="col m2 s6"><a href=""><img src="app/materialcv/p-6.png" alt="" class="responsive-img"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> 
        </section>
        <!-- =========================================
                CONTACT  
        ==========================================-->
        <section id="contact-form">
            <div class="container">
                <div class="row">
                    <div class="section-title wow fadeIn a1 animated" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
                        <h2> <i class="fa fa-send"></i>Contact</h2>
                    </div>
                    <div class="skill" layout="column" class="md-inline-form" layout-padding>
        <div flex layout="row" layout-align="center center" layout-fill>
            <md-card flex="90" flex-xs="90">
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2>Contact me</h2>
                    </div>
                </md-toolbar>
                <md-card-content>
                
                    <form name="contact">
                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Full name *</label>
                                <input required ng-model="vm.user.fullname">
                            </md-input-container>
                            
                        </div>
                        <div layout-gt-sm="row">
                            
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Email *</label>
                                <input required type="email" name="email" ng-model="vm.user.email" />
                                <div ng-messages="contact.email.$error" role="alert">
                                    <div ng-show="contact.email.$error.email">
                                        Your email must be look like an e-mail address.
                                    </div>
                                </div>
                            </md-input-container>
                        </div>
                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Phone number *</label>
                                <input type="number" name="phone" ng-minlength="10" ng-maxlength="11" required ng-model="vm.user.phonenumber">
                                <div ng-messages="contact.phone.$error" role="alert">
                                    <div ng-show="((contact.phone.$error.minlength || contact.phone.$error.maxlength) && contact.phone.$dirty) ">Phone number should be 10 digits</div>
                                </div>
                            </md-input-container>
                           
                        </div>
                        <div layout-gt-sm="row">
                            
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Subject *</label>
                                <input required ng-model="vm.user.subject">
                            </md-input-container>
                        </div>
                        <md-input-container class="md-block">
                            <label>Message *</label>
                            <textarea required ng-model="vm.user.message" md-maxlength="150" rows="5" md-select-on-focus></textarea>
                        </md-input-container>


                    </form>
                    <div class="margin-top-40" layout="row" layout-align="end center" type="submit">
                        <md-button ng-disabled="vm.form" class="md-raised md-primary" >Send</md-button>
                    </div>
                </md-card-content>
            </md-card>
        </div>
    </div>
                    
                   
                </div>
            </div> 
        </section>
        
        <!-- SCRIPTS -->
    <script src="app/materialcv/jquery.min.js"></script>
    <script src="app/materialcv/materialize.min.js"></script>
    <script src="app/materialcv/jquery.mixitup.min.js"></script>  
    <script src="app/materialcv/masonry.pkgd.js"></script>
    <script src="app/materialcv/jquery.fancybox.pack.js"></script>
    <script src="app/materialcv/validator.min.js"></script>
    <script src="app/materialcv/modernizr.js"></script>
    <script src="app/materialcv/jquery.sticky.js"></script>
    <script src="app/materialcv/jquery.nav.js"></script>
    <!-- wow js-->
    
    <script src="app/materialcv/init.js"></script>
    
        <!-- =========================================================
            STYLE SWITCHER | ONLY FOR DEMO NOT INCLUDED IN MAIN FILES
        ===========================================================-->
        
        <!-- Style switter js -->
        <script src="app/materialcv/styleswitcher.js"></script>
        
        <div class="cv-style-switch" id="switch-style">
            <a id="toggle-switcher" class="switch-button icon_tools"> <i class="fa fa-cogs"></i></a>
            <div class="switched-options">                
                <div class="config-title">
                    Colors :
                </div>
                <ul class="styles">
                    <li><a href="http://demo.deviserweb.com/material-portfolio-cv-resume/index.html#" onclick="setActiveStyleSheet(&#39;red&#39;); return false;" title="Red">
                    <div class="red"></div>
                    </a></li>                    
                    
                    <li><a href="http://demo.deviserweb.com/material-portfolio-cv-resume/index.html#" onclick="setActiveStyleSheet(&#39;purple&#39;); return false;" title="purple">
                    <div class="purple"></div>
                    </a></li>

                    <li><a href="http://demo.deviserweb.com/material-portfolio-cv-resume/index.html#" onclick="setActiveStyleSheet(&#39;orange&#39;); return false;" title="orange">
                    <div class="orange"></div>
                    </a></li>
                    
                    <li><a href="http://demo.deviserweb.com/material-portfolio-cv-resume/index.html#" onclick="setActiveStyleSheet(&#39;green&#39;); return false;" title="green">
                    <div class="green"></div>
                    </a></li>
                    
                    <li><a href="http://demo.deviserweb.com/material-portfolio-cv-resume/index.html#" onclick="setActiveStyleSheet(&#39;lime&#39;); return false;" title="lime">
                    <div class="lime"></div>
                    </a></li>

                    <li class="p">
                        ( NOTE: Pre Defined Colors. You can change colors very easily )
                    </li>
                </ul>
            </div>
        </div>
    

   
    <footer>
        <div layout="row" layout-align="center center">
            <md-toolbar class="md-toolbar-tools md-tall" layout-align="center center">
                <div flex="20">
                    <md-tooltip md-direction="left">
                        Google +
                    </md-tooltip>
                    <a href="https://www.facebook.com/profile.php?id=100007015116622">
                        <i class="fa fa-google-plus fa-4x"></i></a>
                </div>
                <div flex="20">
                    <md-tooltip md-direction="left">
                        Facebook
                    </md-tooltip>
                    <a href="https://www.facebook.com/profile.php?id=100007015116622">
                        <i class="fa fa-facebook fa-4x"></i>
                    </a>
                </div>
                <div flex="20">
                    <md-tooltip md-direction="left">
                        Twitter
                    </md-tooltip>
                    <a href="https://www.facebook.com/profile.php?id=100007015116622">
                        <i class="fa fa-twitter fa-4x"></i>
                    </a>
                </div>
                <div flex="20">
                    <md-tooltip md-direction="left">
                        Youtube
                    </md-tooltip>
                    <a href="https://www.facebook.com/profile.php?id=100007015116622">
                        <i class="fa fa-youtube-play fa-4x"></i>
                    </a>
                </div>
            </md-toolbar>
        </div>
    </footer>
</div>